@model MvcMusicStore.Models.MuUsers

@{
    ViewBag.Title = "Login";
}




@using (Html.BeginForm())
{<div style="text-align:center;">
     <h2>Login</h2>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MuUserName, "Username:", htmlAttributes: new { @class = "control-label col-md-2" })
                
                    @Html.EditorFor(model => model.MuUserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MuUserName, "", new { @class = "text-danger" })
                
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MuPassWord, "Password:", htmlAttributes: new { @class = "control-label col-md-2" })
                
                    @Html.EditorFor(model => model.MuPassWord, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MuPassWord, "", new { @class = "text-danger" })
               
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>
}



